* {
    /* background-color: gray; */
}

nav {
    margin: o auto;
    padding: 0.1%;
    margin-right: 0;
    color: rgb(235, 144, 33);
    background-color: white;
}

nav>ul {
    text-align: center;
    background-color: white;

}

nav>ul>li {
    display: inline-block;
    padding: 0px 20px;
    background-color: white;
}

nav>ul>li>a {
    text-transform: uppercase;
    padding: 0.1%;
    text-decoration: none;
    color: blue;
    width: 25%;

}

nav>ul>li>a:hover {
    box-shadow: 0 0 0 0.625em rgba(0, 0, 0, 0.1), insert 0 0 0.625em rgba(255, 255, 255, 0.6);
    background-color: rgba(107, 93, 84, 0.678);
    color: rgba(24, 223, 24, 0.702)
}

#home,
#about {
    text-align: center;
}

#column {}

h2 {
    color: blue;
}