nav {
    margin: o auto;
    padding: 0.1%;
    margin-right: 0;
    color: rgb(235, 144, 33);
    background-color: rgb(167, 245, 79);
}

nav>ul {
    text-align: center;
    background-color: rgb(157, 247, 55);
}

nav>ul>li {
    display: inline-block;
    padding: 0px 20px;
    background-color: rgb(152, 231, 48);
}

nav>ul>li>a {
    text-transform: uppercase;
    padding: 0.1%;
    text-decoration: none;
    color: blue;
    width: 25%;

}

nav>ul>li>a:hover {
    box-shadow: 0 0 0 0.625em rgba(0, 0, 0, 0.1), insert 0 0 0.625em rgba(255, 255, 255, 0.6);
    background-color: rgba(107, 93, 84, 0.678);
    color: rgba(24, 223, 24, 0.702)
}

#home,
#about {
    text-align: center;
}


h2 {
    color: blue;
}

/* Three columns */
* {
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
    width: 33%;
    padding: 10px;
    height: auto;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    background-color: rgb(158, 235, 245);
    display: flex;
}

.copyright {
    text-align: center;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    body {
        background-color: black;
        color: yellowgreen;
    }
}

@media screen and (min-width: 768px) {
    body {
        background-color: yellowgreen;
    }
}